HyperCasualPrototype/Assets/ExampleAssets/
HyperCasualPrototype/Assets/Presets/UtilityTexture.preset
HyperCasualPrototype/Assets/Presets/Defaults/
HyperCasualPrototype/Assets/TutorialInfo/
HyperCasualPrototype/Library/
HyperCasualPrototype/Temp/
HyperCasualPrototype/Logs/
